

mixin definition(word,theId)
    div.cont.gx-4
        div.smallcol.px3
            p.txt4 #{word.name}
        div.smallcol(style="display:none")
            p(id=theId).txt4 #{word.name}
    div.bigcol
        p.txt4 #{word.desc}

doctype html
html(lang=mylang.iso)

    head
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-NTXR1F3502"></script>
        <script>
            | window.dataLayer = window.dataLayer || [];
            | function gtag(){dataLayer.push(arguments);}
            | gtag('js', new Date());
            | gtag('config', 'G-NTXR1F3502');
        </script>
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Creative - Start Bootstrap Theme

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        //Alternate
        each lang in allLangs
            if lang.iso == "en"
                link(rel='alternate',  href="https://doyouspeakrowing.github.io/www/index.html", hreflang='x-default')
            else 
                link(rel='alternate',  href="https://doyouspeakrowing.github.io/www/index-"+lang.iso+".html", hreflang=lang.iso)
        // Bootstrap Icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // SimpleLightbox plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container-fluid.navcont
                a.navbar-brand(href='#page-top')
                    img(src="assets/img/Blade.svg",height=65,alt=dico.dysr.desc)
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link(href='#portfolio') #{dico.lexicon.desc}

                        li.nav-item.dropdown     
                            a.nav-link.dropdown-toggle(href='#', data-bs-toggle='dropdown', id="navbarDropdown",role='button', aria-expanded='false') 
                                span(class="fi fi-"+mylang.flag)
                            ul.dropdown-menu(aria-labelledby="navbarDropdown")
                                each lang in allLangs
                                    if(lang.iso != mylang.iso) 
                                        if(lang.iso!="en")
                                            - var myref="index-"+lang.iso+".html"
                                        else
                                            - var myref="index.html"
                                        li.nav-item
                                            a.dropdown-item(href=myref) 
                                                span(class="fi fi-"+lang.flag) 
                                                | #{lang.name}
                                        
                        li.nav-item.dropdown     
                            a.nav-link.dropdown-toggle(href='#', data-bs-toggle='dropdown', id="navbarTranslate",role='button', aria-expanded='false')  #{dico.translate.desc}
                                span(id='trspan')
                            ul.dropdown-menu(aria-labelledby="navbarTranslate",id="translateDropdown")
                                li
                                    a.active.dropdown-item(id="none") #{dico.none.desc}
                                each lang in allLangs
                                    if(lang.iso != mylang.iso) 
                                        li
                                            a.dropdown-item(id="tr_"+lang.iso)
                                                span(class="fi fi-"+lang.flag) 
                                                | #{lang.name}
                        li.nav-item
                            a.nav-link(href='#contact') #{dico.contact.desc}
                                        
        // Masthead     
        header.masthead
            .container.px-4.px-lg-5.h-100
                .row.gx-4.gx-lg-5.h-100.align-items-center.justify-content-center
                    .col-lg-8.align-self-end
                        h1.text-white.font-weight-bold #{dico.dysr.desc}
                        hr.divider
                    .col-lg-8.align-self-baseline
                        p.txt5
                            | #{dico.description.desc}
                        a.btn.btn-primary.btn-xl(href='#portfolio') #{dico.showme.desc}

       
        // Portfolio
        #portfolio
            .container-fluid.p-0
                .row.g-0
                    .col-6
                        a.portfolio-box(href='#crew', title=dico.crew.desc)
                            img.img-fluid(src='assets/img/crew.webp', alt='...')
                            .portfolio-box-caption
                                .project-category.text-white-50
                                    | #{dico.category.desc}
                                .project-name
                                    | #{dico.crew.desc}
                    .col-6
                        a.portfolio-box(href='#technique', title=dico.technique.desc)
                            img.img-fluid(src='assets/img/technique.jpg', alt='...')
                            .portfolio-box-caption.mybg-secondary
                                .project-category.text-white-50
                                    | #{dico.category.desc}
                                .project-name
                                    | #{dico.technique.desc}
                    .col-6
                        a.portfolio-box(href='#equipment', title=dico.equipment.desc)
                            img.img-fluid(src='assets/img/boat.webp', alt='...')
                            .portfolio-box-caption.mybg-info
                                .project-category.text-white-50
                                    | #{dico.category.desc}
                                .project-name
                                    | #{dico.equipment.desc}
                    .col-6
                        a.portfolio-box(href='#orders', title=dico.orders.desc)
                            img.img-fluid(src='assets/img/orders.webp', alt='...')
                            .portfolio-box-caption.mybg-light
                                .project-category.text-white-50
                                    | #{dico.category.desc}
                                .project-name
                                    | #{dico.orders.desc}
                    
        // by category
        section#crew.page-section.bg-primary
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.align-items-center.justify-content-center
                    .col-12.align-self-end
                        h1.text-white.font-weight-bold #{dico.crew.desc}
                        hr.divide
                    each word in Object.entries(dico)
                        if word[1].cat == "crew"
                            +definition(word[1],word[0])
        
        section#technique.page-section.bg-secondary
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.align-items-center.justify-content-center
                    .col-12.align-self-end
                        h1.text-white.font-weight-bold #{dico.technique.desc}
                        hr.divide
                    each word in Object.entries(dico)
                        if word[1].cat == "technique"
                            +definition(word[1],word[0])
        section#equipment.page-section.bg-info
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.align-items-center.justify-content-center
                    .col-12.align-self-end
                        h1.text-white.font-weight-bold #{dico.equipment.desc}
                        hr.divide
                    each word in Object.entries(dico)
                        if word[1].cat == "boat"
                            +definition(word[1],word[0])
        
        section#orders.page-section.bg-light
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.align-items-center.justify-content-center
                    .col-12.align-self-end
                        h1.text-white.font-weight-bold #{dico.orders.desc}
                        hr.divide
                    each word in Object.entries(dico)
                        if word[1].cat == "orders"
                            +definition(word[1],word[0])
        // Contact
        section#contact.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-8.col-xl-6.text-center
                        h2.mt-0 Let's Get In Touch!
                        hr.divider
                        p.text-muted.mb-5
                            | Ready to start your next project with us? Send us a messages and we will get back to you as soon as possible!
                .row.gx-4.gx-lg-5.justify-content-center.mb-5
                    .col-lg-6
                        form#contactForm(data-sb-form-api-token='API_TOKEN')

                            // Name input
                            .form-floating.mb-3
                                input#name.form-control(
                                    type='text',
                                    placeholder='Enter your name...',
                                    data-sb-validations='required'
                                )
                                label(for='name') Full name
                                .invalid-feedback(data-sb-feedback='name:required')
                                    | A name is required.

                            // Email address input
                            .form-floating.mb-3
                                input#email.form-control(
                                    type='email',
                                    placeholder='name@example.com',
                                    data-sb-validations='required,email'
                                )
                                label(for='email') Email address
                                .invalid-feedback(data-sb-feedback='email:required')
                                    | An email is required.
                                .invalid-feedback(data-sb-feedback='email:email')
                                    | Email is not valid.


                            // Message input
                            .form-floating.mb-3
                                textarea#message.form-control(
                                    type='text',
                                    placeholder='Enter your message here...',
                                    style='height: 10rem;',
                                    data-sb-validations='required'
                                )
                                label(for='message') Message
                                .invalid-feedback(data-sb-feedback='message:required')
                                    | A message is required.

                            // Submit success message
                            //
                            // This is what your users will see when the form
                            // has successfully submitted

                            #submitSuccessMessage.d-none
                                .text-center.mb-3
                                    .fw-bolder Form submission successful!

                            // Submit error message
                            //
                            // This is what your users will see when there is
                            // an error submitting the form

                            #submitErrorMessage.d-none
                                .text-center.text-danger.mb-3 Error sending message!

                            // Submit Button
                            .d-grid
                                button#submitButton.btn.btn-primary.btn-xl(type="button") Submit

                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-4.text-center.mb-5.mb-lg-0
                        p #{dico.category.gitlink}

        // Footer
        footer.bg-light.py-5
            .container.px-4.px-lg-5
                .small.text-center.text-muted
                    | Copyright (c) DoYouSpeakRowing 2022

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')